<?xml version="1.0" encoding="UTF-8"?>
<document
  xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>ieee754b16</title>
  </properties>

  <body>
    <subsection name="ieee754b16">
      <p>The <var>ieee754b16</var> package implements a set of
      functions for converting to and from the IEEE 754 binary16
      type.</p>
    </subsection>
    <subsection name="Features">
      <ul>
        <li>98.3% unit test coverage (100%, minus an unreachable private constructor)</li>
        <li>Fully documented.</li>
        <li><a href="https://www.osgi.org/">OSGi</a>-ready.</li>
        <li>ISC license.</li>
      </ul>
    </subsection>
  </body>

</document>
