<?xml version="1.0" encoding="UTF-8"?>
<document
  xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>io7m-jranges</title>
  </properties>

  <body>
    <subsection name="jranges">
      <p>The <var>jranges</var> package implements a set of functions
      and types for dealing with ranges and intervals.</p>
    </subsection>
    <subsection name="Features">
      <ul>
        <li>Immutable range types, for specifying ranges over all the available integral and floating point types.</li>
        <li>Functions for checking that values fall within given ranges.</li>
        <li>Full unit test coverage.</li>
        <li>ISC license.</li>
      </ul>
    </subsection>
  </body>

</document>
